<%= form_for :session, url: session_path do |form| %>
  <div class="topCaixa">
    <div class="text-field">
      <small>
        <span class="add-on"><i class="icon-envelope"></i></span>
        <%= form.text_field :email, type: 'email',:placeholder=>"Email",:style => 'text-align:center; font-size: 12px;
background-image: url("")',:class=>"form-control"%>
      </small>
    </div>
    <div class="password-field">
      <small><%= form.password_field :password ,:placeholder=>"Password",:style => 'font-size: 12px;text-align:center;background-image: url("")',:class=>"form-control" %></small>
    </div>
    <div class="botaoLogin1">
      <%= button_to "Login", sign_out_path, method: :submit,:type =>type="button",:class=>'btn btn-success' %>
    </div>
  </div>
<% end %>
