<html>
  <head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/animate.css">
    <style>.wow:first-child {visibility: hidden;}</style>
    <link rel="stylesheet" href="login.css">
    <style>.wow:first-child {visibility: hidden;}</style>
  	<title>IdeaTouch</title>
  </head>

  <body>
    <div class="preload"></div>
    <div class="content">
      <div class= " wow fadeInRight" data-wow-duration="0.4s" data-wow-delay="0.4s">
        <div id="topo">
          <div id="clearance" class="sign-in">
            <div class="hh33 serif2"><%= render partial: '/sessions/form' %></div>
          </div>
        </div>
      </div>
      <div class="box-1">
        <br>    
        <div class="wow fadeInUpBig" data-wow-duration="0.7s" data-wow-delay="0.7s">
          <div class="wow swing" data-wow-duration="1.0s" data-wow-delay="1.0s">
            <div class="hvr-hang">
              <div class="hvr-rotate">
                <div class = "hvr-curl-top-left5">
                  <div class="caixa-logo lifted">
                    <h2>
                      <img src="/assets/img/161.png" width="105" alt="logotipo" >
                    </h2>
                    <div class="tituloFont">&nbspIDeaTouch</div> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class= "wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s">
          <div class="subtittle">Integrate group dynamics digitally</div>
        </div>    
        <br>
        <div class= " wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.7s">
          <div class="phraseFont">It helps people/companies to collaboratively find solutions best suited to their problems.</div></div> 
          <div class= " wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
            <div class="phraseFont">It lets you define the problem, collect ideas and vote on the best ones.</div>
          <br></div>
          <div class= " wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.5s">
            <div class="hh4 Garam"><%= render partial: '/sessions/form2' %></div>
          </div>
          <div class= " wow fadeInUp" data-wow-duration="1.6s" data-wow-delay="1.6s">
            <h2>
              <h2>
                <div class="hvr-wobble-vertical">
                  <span class="glyphicon glyphicon-menu-down" aria-hidden="true" ></span>
                </div>
              </h2>
            </div>
          </h2>
          </div>
          <div class="hvr-bob2">
            <div class="wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s">
              <div class="whatistitle lifted">
                What is <i>IDeaTouch</i> ?
                <div class="hvr-bob2">
                  <div class="imageWhatIs wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s"></div>
                </div>
                <div class="boxtext wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s">
                  It is a platform to help people/companies to find solutions best suited to their problems.
                  <br>
                  It enables the creation, management and implementation of solutions generated collaboratively.
                  <br>
                  It can be used remotely or in person. Synchronously or asynchronously.
                  <br>
                  It lets you define the problem, collect ideas, vote on the best ones and the generation of statistics.
                  <br>
                </div>
              </div>
            </div>
          </div>
          <br><br><br><br>
      
          <div class="hvr-bob2">
            <div class="wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s">
              <div class="boxhowitworks lifted">
                <div class="howitworkstitle wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">How it works ?</div>
                <div class="stepsBox">
                  <div class="step wow fadeInRight" data-wow-duration="0.4s" data-wow-delay="0.4s">
                    1. Avatar and nickname.
                    <br>
                    Choose a pre-defined avatar or upload one.
                    <br>
                    Then write a nickname.
                    <div class="hvr-bob2">
                      <br>
                      <div class="minion wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                        <br><br><br>
                        Bill Gates
                      </div>
                    </div>
                  </div>
                  <div class="step wow fadeInRight" data-wow-duration="0.6s" data-wow-delay="0.6s">
                    2. Create/join Dynamics.
                    <br>
                    Create and join dynamics.
                    <br>
                    Creating a dynamic, you can invite people to collaborate.
                    <br><br>
                    <div class="hvr-bob2">
                      <div class="dynamicAzul2 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"><div class="hhpp">Dynamic</div><div class="serif">IDeaTouch</div></div>
                    </div>
                  </div>
                  <div class="step wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.7s">
                    3. Create Boards into Dynamics.
                    <br>
                    Create a Board to put the ideas which are related with it.
                    <br>
                    They will be better organized.
                   <br>
                   <div class="hvr-bob2">
                     <div class="boardRed2 wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.7s"><div class="hhpp">Board</div><a><div class="serif">Default</div></a></div></div>
                  </div>
                  <div class="step wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.8s">
                    4. Send Notes to solve the challenge.
                    <br>
                    Then you can launch ideas.
                    <br>
                    You can also pre-select ideas, and vote on the best ones.
                    <br>
                    <div class="hvr-bob2">
                      <div class="notaAzulClaro2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s"><div class="hhpp">1</div><div class="serif">write some text here! </div></a></div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br><br><br><br>
          <div class="cloud x4"></div> 
          <div class="hvr-bob2">
            <div class="wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s">
              <div class="boxadvantagesofplatform lifted">
                <div class="advantagesofplatformtitle wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">What are the <i>advantages</i>  ?<br>
                </div>
                <div class="hvr-bob2">
                  <div class="imageSession wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"></div>
                </div>
                <div class="boxtext wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s">
                  The user can share his ideas remotely or in person.
                  <br>
                  The user can see ideas from other employees in a more organized way.
                  <br>
                  The user can pre-select an idea and then vote on the ones he likes more.
                  <br>
                  IDeaTouch ensures anonymity to users, thus allowing them to feel more comfortable.
                </div>
              </div>
            </div>
          </div>
          <br><br><br><br><br>
          <div class="hvr-bob2">
            <div class="wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s">
              <div class="whatistitle2 lifted">
                <div class="joinus wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                  What are you waiting for?<br></div>
                <div class="joinus2 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"> Join us!</div><br>
                <div class="hvr-bob2">
                  <div class="wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.7s">
                    <div class="caixa-logo2 lifted">
                      <h2>
                        <br>
                        <img src="/assets/img/161.png" width="100" alt="logotipo" >
                      </h2>
                    </div>
                  </div>
                </div>
                <div class= " wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.7s">
                  <h3><div class="hh4 Garam"><%= render partial: '/sessions/form2' %></div></h3>
                </div>
                <br>
              </div>
            </div>
          </div>
          <br><br>
        </div>

        <!-- javascripts-->
        <script src="js/wow.js"></script>
        <script>
          var wow = new WOW(
            {
              boxClass:     'wow',      // animated element css class (default is wow)
              animateClass: 'animated', // animation css class (default is animated)
              offset:       0,          // distance to the element when triggering the animation (default is 0)
              mobile:       true,       // trigger animations on mobile devices (default is true)
              live:         true,       // act on asynchronously loaded content (default is true)
              callback:     function(box) {
                // the callback is fired every time an animation is started
                // the argument that is passed in is the DOM node being animated
              }
            }
          );
          wow.init();
        </script>
        <script>
          $(function() {
            $(".preload").fadeOut(10, function() {
              $(".content").fadeIn(10);        
            });
          });
        </script>
        <script>
          $(window).resize(setDivVisibility);
          function setDivVisibility(){
            if (($(window).width()) < '1260'){  
              $('.step').css('width','100%');  
            } 
            else {  
              $('.step').css('width','25%');  
            } 
          }
        </script>
        <script>
          $(window).load(setDivVisibility);
          function setDivVisibility(){
            if (($(window).width()) < '1260'){  
              $('.step').css('width','100%');  
            } 
            else {  
              $('.step').css('width','25%');  
            }
          }
        </script>
  </body>
</html>