<div class="text-field">
  <%= form.text_field :nome, type: 'nome',:placeholder=>"Name",:class=>'form-control',:style => 'text-align:center'  %>
</div>
<br>
<div class="text-field">
  <%= form.text_field :email, type: 'email',:placeholder=>"Email",:class=>'form-control' ,:style => 'text-align:center' %>
</div>
<br>
<div class="password-field">
  <%= form.password_field :password,:placeholder=>"Password" ,:class=>'form-control',:style => 'text-align:center'  %>
</div>


