
<html>
  <head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/animate.css">
    <style>.wow:first-child {visibility: hidden;}</style>
    <title>IdeaTouch</title>
  </head>

  <body>
    <div class="preload"></div>
    <div class="content">
      <%= render './dynamics/formTopBarB' %>
      <br><br><br>
      <div class="box-wall">   
        <h3><i class="fa fa-archive"></i></h3>
        <div class="serif">
  		    <%= render 'formVotation' %>
	  	    <br>
        </div>    
      </div>
    </div>

    <script src="js/wow.js"></script>
    <script>wow = new WOW({animateClass:'animated',offset:100,
      callback:function(box){console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")}});
      wow.init();
      document.getElementById('moar').onclick = function() {
        var section = document.createElement('section');
        section.className = 'section--purple wow fadeInDown';
        this.parentNode.insertBefore(section, this);};
    </script>
    <script>
      $(function() {
        $(".preload").fadeOut(10, function() {
          $(".content").fadeIn(10);        
        });
      });
    </script>
    <script>
      $('.submit_me').click(function() {
        $('form').submit();
        return false;
      });
    </script>
    <script>
      var lim = <%= @lim %>
      $('input[type=checkbox]').change(function(e){
        if ($('input[type=checkbox]:checked').length > lim) {
          $(this).prop('checked', false)
          alert("You can only select "+ lim + " checkbox's!");
       }
      })
    </script>
    <script>
      $(':checkbox').on('change', function () {
        $('input[type="submit"]').prop('disabled', !$(':checkbox:checked').length);
      }).change();
    </script>
  </body>
</html>
