<div class="text-field">
  <small><%= form.text_field :nome, type: 'nome',:placeholder=>"Name" %></small>
</div>
<br>
<div class="text-field">
  <small><%= form.text_field :email, type: 'email',:placeholder=>"Email" %></small>
</div>
<br>
<div class="password-field">
  <small><%= form.password_field :password,:placeholder=>"Password"  %></small>
</div>

